<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width,
          initial-scale=1.0" />
    <title>{{ .Title }}</title>
    <link rel="icon" href="favicon.svg" />
    {{ partial "gallerydeluxe/head.html" . }}
    {{ partial "head.html" . }}

    <meta name="yandex-verification" content="0a42e0e6af8453be" />

<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
  (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
  m[i].l=1*new Date();
  for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
  k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
  (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

  ym(101486023, "init", {
       clickmap:true,
       trackLinks:true,
       accurateTrackBounce:true,
       webvisor:true
  });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/101486023" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->

  </head>

  <a class="logo" href="https://skorikov.su">
  <!-- <a class="logo" href="{{ site.Home.RelPermalink }}"> -->
    {{ partial "logo.html" . }}
  </a>

  {{/* init.hmlt takes either a slice of .images or a .sourcePath that points to a bundle with images.
    An .id will be calculated if not provided. This will be used to create the URL to the data file.
  */}}
  {{ $bundle := site.GetPage "images" }}
  {{ $images := $bundle.Resources.ByType "image" }}
  {{ $gallery := partial "gallerydeluxe/init.html" (dict "sourcePath" "images") }}
  {{ $params := site.Params.gallerydeluxe }}
  {{/* We currently only support 1 gallery per page, which is create4 by an element with id 'gallerydeluxe',
    and a valid data url.
  */}}
  <body id="gallerydeluxe" data-gd-image-data-url="{{ $gallery.imageDataUrl }}">
    <div id="gd-modal" class="gd-modal">
      <span id="gd-modal-close" class="gd-modal-close">&times;</span>
      {{ if $params.enable_exif }}
        <div id="gd-modal-exif" class="gd-modal-exif"></div>
      {{ end }}
    </div>
  </body>
</html>
